* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainGreen: #60b478;
  --mainGreenDarker: rgb(50, 115, 71);
  --mainPurple: #9a7cf8;
  --mainBlack: #100f11;
  --mainGray: #302e35;
  --nav-font: "Hedvig Letters Serif", serif;
  --h1-font: "Mina", sans-serif;
  --content-font: "Open Sans", sans-serif;
}

@font-face {
  font-family: "logo";
  src: url("./../fonts/frenchscriptmt.ttf");
}

body {
  /* font-family: var(--content-font); */
  background-color: var(--mainBlack);
  color: white;
}

/* ! start nav styling */

nav {
  height: 60px;
  transition: all 0.5s ease;
  font-family: var(--nav-font);
  font-size: 1.2rem;
}

.navbar-brand {
  font-family: "logo";
  font-size: 2.5rem;
  margin-right: 30px;
}
.navbar-brand span {
  text-shadow: -1px -1px 0 var(--mainGreen), 1px -1px 0 var(--mainGreen),
    -1px 1px 0 var(--mainGreen), 1px 1px 0 var(--mainGreen);
  font-size: 3rem;
}

a.nav-link {
  color: white;
  padding: 0;
  z-index: 99999999;
  position: relative;
}
.nav-item {
  margin-left: 10px;
  padding: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-active {
  background-color: var(--mainPurple);
  text-align: center;
  color: var(--mainGray);
}

#lineNav {
  display: none;
  position: absolute;
  padding: 0;
  width: 40px;
  height: 1px;
  border-radius: 10px;
  background-color: var(--mainPurple);
  transition: all 0.8s ease;
}

#backNav {
  display: none;
  position: absolute;
  width: 0;
  height: 40px;
  border-radius: 5px;
  background-color: var(--mainPurple);
  transition: all 0.8s ease;
}

@media (max-width: 991.5px) {
  .nav-link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--mainPurple);
    border-radius: 2rem;
    transition: 0.5s;
  }
  .nav-link.active-link::after {
    width: 100%;
  }

  .navbar-collapse {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    opacity: 0.9;
    padding: 20px 10px;
  }
  .nav-item a {
    color: black;
  }
  .navbar-collapse > div {
    height: 100%;
  }
  nav ul {
    height: 100%;
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 991.5px) {
  .navbar-brand {
    margin-right: 0;
    font-size: 1.5rem;
    padding: 0;
  }
  .navbar-brand span {
    font-size: 2rem;
  }
}

/* ! end nav styling */

/* ! start Home styling */

#Home {
  height: 100vh;
  width: 100%;
  background-image: url("./../img/home.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.after {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  position: absolute;
  transition: background 0.4s ease-in-out;
}

#Home .container {
  z-index: 999;
  position: relative;
  height: 100%;
}

#Home .row {
  height: 100%;
}

.home-content-col,
.home-img-col {
  height: 100%;
}

#Home .home-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}
#Home .home-content h1 {
  font-size: 4rem;
  font-family: var(--h1-font);
  margin-bottom: 20px;
}
#Home .home-content h1 span {
  color: var(--mainGreen);
  font-family: logo;
  font-size: 6rem;
}
#Home .home-content p {
  font-size: 1.5rem;
  font-family: var(--content-font);
  margin-bottom: 20px;
}
#Home .btn {
  padding: 10px 20px;
  font-size: 1.5rem;
  font-family: var(--content-font);
}

#Home .home-img {
  height: 100%;
}
#Home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

@media (max-width: 1199.5px) {
  #Home img {
    object-fit: fill;
  }
}

@media (max-width: 991.5px) {
  #Home .row {
    height: 100%;
    width: 100%;
    flex-direction: column-reverse !important;
    justify-content: end;
  }
  #Home .home-content-col {
    height: calc(50% - 40px);
    width: 100%;
  }
  #Home .home-img-col {
    height: calc(50% - 40px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Home .home-content h1 {
    font-size: 2.5rem;
  }
  #Home .home-content h1 span {
    font-size: 4.5rem;
  }
  #Home .home-content p {
    font-size: 1.5rem;
  }
  #Home .home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    aspect-ratio: 1/1;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
  }
  #Home img {
    transform: scale(1.3) translateY(40px);
    object-fit: contain;
  }
}

@media (max-width: 400px) {
  #Home .home-content h1 {
    font-size: 2rem;
  }
  #Home .home-content h1 span {
    font-size: 3rem;
  }
  #Home .home-content p {
    font-size: 1.2rem;
  }
  #Home .btn {
    font-size: 1.2rem;
  }
}

@media (max-height: 600px) {
  #Home .home-content-col {
    padding-bottom: 20px;
    justify-content: end;
  }
  #Home .home-content {
    height: 100%;
  }
  #Home .home-content h1 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  #Home .home-content h1 span {
    font-size: 2rem;
    margin-bottom: 0;
  }
  #Home .home-content p {
    font-size: 1rem;
  }
  #Home .btn {
    font-size: 1rem;
  }
}

/* ! end Home styling */

/* ! start all sections styling */

section:not(#Home) {
  width: 100%;
  scroll-margin-top: 60px;
  opacity: 0;
  padding: 30px;
  margin-top: 50px;
  background-color: var(--mainGray);
}

@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.headerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLine {
  height: 5px;
  background-color: var(--mainPurple);
  border-radius: 10px;
}

/* ! end all sections styling */

/* ! start About styling */

#About span {
  color: var(--mainGreen);
}

#About a {
  color: var(--mainGreen);
  transition: all 0.5s ease;
}

#About .col-lg-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.verticalLine {
  width: 1px;
  height: 100%;
  background-color: var(--mainGreen);
}

.horizontalLine {
  background-color: var(--mainGreen);
  height: 2px;
  width: 90%;
  margin: 30px auto;
  display: none;
}

.education {
  display: flex;
  margin-top: 40px;
}
.education img {
  margin-right: 20px;
}
.education h5 {
  font-weight: bold;
}
.education p {
  margin-bottom: 0;
}
.education span {
  font-weight: bold;
}

#skills > h3 {
  text-align: center;
  grid-column: 1 / -1;
  margin: 60px 0 20px 0;
}
.skill {
  padding: 10px;
}
.skill-body {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--mainBlack);
}
.skill-name {
  margin: -5px 0 10px 5px;
}
.skill-level-bar {
  background-color: var(--mainGreen);
  height: 10px;
  border-radius: 10px;
}
.skill-level-percentage {
  background-color: var(--mainGreenDarker);
  color: white;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 20px;
  margin-left: -10px;
}

@media (max-width: 991.5px) {
  .verticalLine {
    height: 2px;
    width: 90%;
    margin: 30px 0;
  }
  .horizontalLine {
    display: block;
    margin: 40px auto 0 auto;
  }
  #skills > h3 {
    margin: 40px 0 30px 0;
  }
}

@media (max-width: 450px) {
  .education:nth-of-type(2) h5 {
    font-size: 1rem;
  }
  .education p {
    font-size: 0.8rem;
  }
}

@media (max-width: 350px) {
  .education:first-of-type h5 {
    font-size: 1rem;
  }
}

/* ! end About styling */
